*{
    margin: 0px;
    background-color: rgb(235, 203, 165);


}

img {
    height: 100px;
    border: 1px solid black;
}

header{
   
}

.logoAndName 
{
    margin: 0px;
    padding: 5px;
    background-position: 0px;
    background-color: rgb(127, 219, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    height: 100px;
      
}

.pageBar{
 background-color: white;
 text-align: center;
 border: 1px black solid;
 margin: 0px;
 padding: 0px;
}

h1{

    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 1%;
    margin-right:5%;
    margin-left:5%;
    border: 5px solid black;
}

h2{
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line:underline;
    text-decoration-style:double;
}

h3{
    padding: 1%;
    text-decoration: underline;
}

p{
    padding: 1%;
    padding-bottom: 2%;

}

.coffee-item{
    border-bottom: 1px solid black;
}